@import "../../scss/text-mixin.scss";

.weather-container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0px auto;
  row-gap: 20px;

  .title {
    @include text-style(48px, black, 600);
  }
  .subtitle {
    @include text-style(26px, black, 600);
  }

  .weather-card {
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    column-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 15px;

      .material-symbols-outlined {
        font-size: 64px;
      }
    }
  }
}
